<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" ng-click="fbLogin()">Login with Facebook</button>
        </label>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
