<ion-view view-title="OCRList">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          GO <b>NA'VI</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          The International 5 is close! Are you ready?
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          New Commercial featuring Dendi!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
